{% extends 'layouts.html' %}
{% block content %}
<div class="row">
    <h1 class="text-center mt-5">Candidatura</h1>
    {% for candidatura in candidaturas %}
    <div class="col-4 mt-4">
        <div class="card border-success mb-3">
            <div class="card-header bg-success">
                <h1><span class="badge  badge-pill badge-danger ml-2">
                        {{candidatura.id}} </span></h1>
            </div>
            <div class="card-body">
                <p> Id candidato: {{candidatura.id_candidato}}<br>
                    Clave Electoral: {{candidatura.clave_Electoral}}<br>
                    Cargo: {{candidatura.cargo}}<br>
                    Partido: {{candidatura.partido}}</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'editarcandidaturas' candidatura.id %}">
                            Editar<i class="fa-solid fa-file-pen"></i></a>
                    </div>
                    <div class="col-6">
                        <a type="button" class="btn btn-success" href="{% url 'eliminarcandidaturas' candidatura.id %}">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}