{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'registrarciudadanos'  %}">Registrar Ciudadano<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'enlistarciudadanos'  %}">Ciudadanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registrarcandidaturas'  %}">Registrar Candidaturas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'enlistarcandidaturas'  %}">Candidaturas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registrarvotaciones'  %}">Boleta de votacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'enlistarvotos'  %}">Votos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">acerca de</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content">            
                {% block content %}
                {% endblock %}            
        </div>
    </div>
    {% block javascript %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}">

    </script>
    {% endblock %}
</body>

</html>